kernel.ctrl-alt-del = {{ sysctl_alt.kernel_ctrl_alt_del }}
kernel.exec-shield = {{ sysctl_alt.kernel_exec_shield }}
net.core.somaxconn = {{ sysctl_alt.net_core_somaxconn }}
net.ipv4.tcp_window_scaling = {{ sysctl_alt.net_ipv4_tcp_window_scaling }}